.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #222;
}

.list {
    display: flex;
    list-style: none;
    allign-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
   color: #fff;
   text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
 }